language: csharp
dist: trusty

sudo: false  # use the new container-based Travis infrastructure

services:
  - postgres

addons:
  postgresql: "9.5"  

mono:
  - 5.0.1

os:
  - linux
  - osx

before_script:
  - psql -c 'create database postgres;' -U postgres
  
script:
  - ./build.sh All

branches:
  except:
  - gh-pages