source https://nuget.org/api/v2

nuget Nuget.CommandLine
nuget FAKE
nuget FSharp.Formatting
nuget FSharp.Core >= 3.1.2.5 lowest_matching:true, redirects:force
nuget RazorEngine
nuget NUnit = 2.6.4
nuget NUnit.Runners = 2.6.4
nuget SourceLink.Fake
nuget System.Data.SqlClient

group Standard
    source https://nuget.org/api/v2

    nuget FSharp.Core
    nuget System.Runtime
    nuget System.Runtime.Loader
    nuget System.Runtime.Serialization.Primitives
    nuget System.Runtime.Serialization.Formatters
    nuget System.IO
    nuget System.Console
    nuget System.Reflection
    nuget System.Reflection.TypeExtensions
    nuget System.Data.SqlClient
    nuget System.Data.Common
	nuget Microsoft.Data.SQLite
	nuget FSharp.Compiler.Service

github fsharp/FAKE modules/Octokit/Octokit.fsx

group SourceFiles
    source https://nuget.org/api/v2

    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
    github Thorium/Linq.Expression.Optimizer src/Code/ExpressionOptimizer.fs

group Scripts
    source https://nuget.org/api/v2

    nuget MySql.Data
    nuget MySqlConnector
    nuget Newtonsoft.Json
    nuget Npgsql
    nuget Oracle.ManagedDataAccess
    nuget FirebirdSql.Data.FirebirdClient
    nuget System.Data.SQLite.Core
    nuget System.Data.SQLite.Linq
    // nuget Microsoft.Data.Sqlite.Core.Backport // Needed if we want currently Core support on Linux.


    