version 7.2.1
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core == 6.0.7
nuget System.Data.SqlClient framework: net461, net472, net480, netstandard2.0, netstandard2.1, netcoreapp2.1, netcoreapp3.1
nuget NETStandard.Library.NETFramework storage: packages
nuget System.Data.OleDb
nuget System.Runtime
nuget System.Runtime.Loader
nuget System.Runtime.Serialization.Primitives
nuget System.Runtime.Serialization.Formatters
nuget System.IO
nuget System.Console
nuget System.Reflection
nuget System.Reflection.TypeExtensions
nuget System.Data.Common
nuget System.Data.Odbc
nuget Microsoft.Data.SQLite 2.0
nuget Microsoft.Data.SqlClient framework: net6.0, netstandard2.1

group Build

    source https://api.nuget.org/v3/index.json
    storage: packages

    nuget Microsoft.SourceLink.GitHub prerelease copy_local: true
    nuget FSharp.Core == 6.0.7
    nuget FSharp.Formatting >= 4.0.0
    nuget Nuget.CommandLine
    nuget RazorEngine
    github fsharp/FAKE modules/Octokit/Octokit.fsx
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Process
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Paket
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.BuildServer.Travis
    nuget Fake.DotNet.MSBuild
    nuget Fake.DotNet.FSFormatting
    nuget Fake.DotNet.Testing.NUnit
    nuget System.Data.SqlClient
    nuget MSBuild.StructuredLogger

group SourceFiles
    source https://api.nuget.org/v3/index.json
    storage: none

    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
    github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs
    github Thorium/Linq.Expression.Optimizer src/Code/ExpressionOptimizer.fs

group Analyzers
  source https://www.nuget.org/api/v2
  source https://api.nuget.org/v3/index.json
  nuget BinaryDefense.FSharp.Analyzers.Hashing 0.1.0

group Docs
    storage: none
    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    nuget Argu
    nuget FSharp.Core
    nuget Fake.IO.FileSystem
    nuget FAKE.Core.Environment
    nuget Fake.DotNet.Cli
    nuget FSharp.Formatting >= 4.0.0
    nuget FSharp.Literate >= 4.0.0
    nuget Dotnet.ProjInfo.Workspace.FCS
	nuget FSharp.Compiler.Service 43.8.100

group Tests
    source https://api.nuget.org/v3/index.json
    frameworks: netcoreapp3.1, net472
    storage: packages

    nuget MySql.Data < 7.0.0
    nuget MySqlConnector 0.36.1
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit3TestAdapter
    nuget Newtonsoft.Json
    nuget Npgsql < 4.0
    nuget NUnit
    nuget Oracle.ManagedDataAccess 12.2.1100
    nuget FirebirdSql.Data.FirebirdClient 5.12.1
    nuget System.Data.SQLite.Core 1.0.105.2
    nuget System.Data.SQLite.Linq 1.0.105.2
    nuget SQLitePCLRaw.bundle_green
    nuget Microsoft.Data.Sqlite.Core
    // nuget Microsoft.Data.Sqlite.Core.Backport // Needed if we want currently Core support on Linux.
