name: CI

on:
  push:
  pull_request:

jobs:
  buildAndTest:

    runs-on:
    - windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.428
    - name: Build & Run Tests
      run: |
        .\build.cmd
    - name: Upload artifact (bin)
      uses: actions/upload-artifact@v4
      with:
        name: bin
        path: bin
    - name: Upload artifact (dist)
      uses: actions/upload-artifact@v4
      with:
        name: dist
        path: dist
